.loading{
  align-items: center;
  justify-content: center;
}

/* Default styles for all screen sizes */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
  border-top: 5px solid #333;
  border-bottom: 5px solid #333;
}

.slogan {
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  margin-left: 20px;
  padding: 10px;
  font-size: medium;
  margin-top: 40px;
  color: #333;
}

.c1,
.c2,
.c3 {
  flex-basis: calc(33.33% - 20px);
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.c1:hover,
.c2:hover,
.c3:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.s1 {
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 40px;
}

.c1 p,
.c2 p,
.c3 p {
  margin-top: 10px;
  font-size: large;
}

/* Media query for medium screens (between 768px and 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: flexbox;
    flex-direction: column; /* Arrange containers row-wise */
    justify-content: space-between; /* Add space between containers */
    align-items: center;
    text-align: center;
    margin-top: 10px;
    gap: 10px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    overflow-x: auto; /* Add horizontal scroll if necessary */
  }

  .service{
    border-top: 2px solid #333;
  }

  .slogan {
    justify-content: space-between;
    margin-left: 0;
    margin-top: 20px;
  }

  .c1,
  .c2,
  .c3 {
    margin: 0;
    width: calc(30% - 20px); /* Adjust container width */
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .s1 {
    font-size: 30px;
  }
}


/* Media query for small screens (less than 768px) */
@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    gap: 0px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    width: 100%;
  }

  .service{
    border-top: 2px solid #333;
  }

  .slogan {
    border: none;
    margin-left: 0;
    margin-top: 20px;
  }

  .c1,
  .c2,
  .c3 {
    margin: 0 20px;
    width: calc(90% - 50px);
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .s1 {
    font-size: 30px;
  }
}


  /* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #ffffff;
    border-bottom: 2px solid #333;
  }
  
  .heading {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: darkslategray;
    list-style: none;
    margin-right: auto;
    text-decoration: none;
  }

  .heading a{
    color: #333;
    text-decoration: none;
    
  }
  
  .link {
    list-style: none;
    margin-left: 40px;
  }
  
  .link a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s ease;
  }

  .link a:hover{
    color: darkslategray;
  }

  /* About Page */

  .about {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
  }
  
  .about-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #333;
    margin-bottom: 0px;
  }
  
  .about-content {
    font-size: 18px;
    color: #333;
    line-height: 1.25;
    text-align: center;
  }
  
  .about-content p {
    margin: 20px 0;
  }

  .linkedin{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
  }
  
  .linkedin-link{
    text-decoration: none;
    font-size:large;
    color: #333;
  }

  .linkedin-link a{
    color: #333;
    transition: 0.2s ease;
  }

  .linkedin-link a:hover{
    color: rgba(102, 153, 179, 1);
  }

  .connection{
    line-height: 1;
    padding: 5%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.registered-heading {
  padding: 10px;
  margin-left: 20px;
}


.customers-list {
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
}

.customers-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #333;
  margin-right: 10px;
  margin-left: 10px;
}

.customers-info {
  flex: 1;
}

.customers-info small {
  margin-right: 10px;
}

.view-btn {
  background-color: #333;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

  
  /* CustomerDetails */
  .profile{
    margin-left: 15px;
  }

  .customers-details {
    display: flex;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
  }
  
  .customer-details {
    flex-basis: 70%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .customer-details h3 {
    justify-content: center;
    margin: 0;
    padding: 5px;
    font-weight: bold;
  }
  
  .customer-details small {
    color: darkslategray;
    margin-right: 10px;
  }
  
  /* Form */
  .form {
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    flex-basis: 30%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
  }
  
  .form legend {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form input[type='email'],
  .form input[type='number'] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .btns{
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    justify-content: space-between;
  }

  .Transfer-Amount-btn{
    display:flex;
    position: relative;
    margin-right: 5px;
    transition: 0.3s ease;
  }

  .Transfer-Amount-btn:hover{
    background-color: white;
    border: 1px solid #333;
    color: #333;
  }
  
  .form button {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  /* Payees btn */
  .options{
    display: flex;
  }

  .customers-options {
    display: block;
    align-items:center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1px;
  }

  .email-toCopy{
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .email-toCopy p:last-child {
    color: darkslategray;
    cursor: pointer;
  }

  .opt-list{
    border-bottom: 1px solid #222;
  }

  .customers-options li{
    margin: 2px 1px;
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-bottom: 1px;
  }

  .email-toCopy{
    display: flex;
    gap: 6px;
    align-items: baseline;
  }


  
  /* TransactionHistory */
  .history-heading{
    margin-left: 15px;
  }

  .history {
    border-top: 1px solid gray;
    margin-top: 60px;
    list-style: none;
    padding: 0;
  }
  
  .history h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .history li {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .history .customer-details h4 {
    font-weight: bold;
  }
  
  .history p {
    margin: 0;
  }

  .histories{
    display: block;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .no-history{
    align-items:center;
    display:grid;
    justify-content: space-ev;
  }

  .noHistory{
    padding: 5px;
    border-bottom: 1px solid #333;
  }
  
  /* Footer */
.footer {
    opacity: 0.75;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .footer-content {
    max-width: 100%;
    margin: 0 auto;
  }
  